# DATA CAMPUS BBVA
# ANALYTICS

## EJERCICIOS DE ENGINES

### 1. Combinación de dataframes
##### 1. Escribe un programa que, empleando la librería Pandas, lea en dataframes los csv data1 y data2 y combine ambos dataframes utilizando como clave la columna key1 y guarde el dataframe resultante en un fichero csv:

In [ ]:
import pandas as pd

# Read csv data1
# Read csv data2

# Merge csv

# Write resulting dataframe to csv

### 2. Filtros

##### 2. Escribe un programa que lea en un dataframe el contenido del dataset "consumicion_alcohol_mundial.csv" y realice lo siguiente:
- Encontrar y eliminar los Missing Values del dataframe
- Eliminar aquellas filas en las que el valor de la columna 'WHO Region" esté duplicado
- Seleccionar la información del dataset sobre la consumición de alcohol en 'Americas' en el año 1989

In [ ]:
import pandas as pd

# Read csv consumicion_alcohol_mundial

# Find missing values and drop them

# Drop duplicates

# Filter region Americas and year 1989

### 3. Grupos y funciones agregadas

##### 3.1 Realiza un programa que agrupe los datos del dataframe descrito a continuación por el campo 'salesman_id' y obtenga la primera fecha de ord_date para cada uno de estos grupos:

In [ ]:
import pandas as pd

# Given the following dataframe
df = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5004,5003,5002,5004,5001]})

# Group dataframe and get minimum ord_date

##### 3.2 Realiza un programa que agrupe los datos del dataframe descrito a continuación por el campo 'salesman_id' y una vez hechos estos grupos aplique una suma sobre las columnas 'sale_jan','sale_feb' y 'sale_mar' y la media sobre el resto de columnas:

In [ ]:
import pandas as pd

# Given the following dataframe
df = pd.DataFrame({
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001],
'sale_jan':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 1760, 2983.43, 480.4,  1250.45, 75.29,1045.6],
'sale_feb':[250.5, 170.65, 15.26, 110.5, 598.5, 1400.6, 2760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_mar':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_apr':[150.5, 270.65, 95.26, 210.5, 948.5, 2400.6, 760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_may':[130.5, 270.65, 65.26, 310.5, 948.5, 2400.6, 760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_jun':[150.5, 270.65, 45.26, 110.5, 948.5, 3400.6, 5760, 983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_jul':[950.5, 270.65, 65.26, 210.5, 948.5, 2400.6, 5760, 983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_aug':[150.5, 70.65,  65.26, 110.5, 948.5, 400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_sep':[150.5, 270.65, 65.26, 110.5, 948.5, 200.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_oct':[150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6],
'sale_nov':[150.5, 270.65, 95.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6], 
'sale_dec':[150.5, 70.65, 65.26, 110.5, 948.5, 2400.6, 5760, 1983.43, 2480.4, 250.45, 75.29, 3045.6]
})

# Group dataframe and apply aggregated functions